body {
    margin-top: 30px;
    margin-bottom: 30px;
    background: linear-gradient(270deg, #651ea79a 0%, #97152b9a 100%); 
}

.power__pic {
    position: relative;
    width: 60%;
    margin-right: -100%;
   
}

.power__done {
    position: absolute;
    top: 5%;
    left: 80%;
    filter: blur(2px);

    animation-name: pic-shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 
}

@keyframes pic-shake{
    0%{
        top:-7%;
    }
    50%{
        top:-10%;
        transform: rotate(70deg);
    }
    100%{
        top: -7%;
    }
}
