.body {
    margin-top: 100px;
    padding-bottom: 100px;
}

.power__pic {
    position: relative;
    width: 60%;
    margin-right: -100%;
   
}

.power__done {
    position: absolute;
    top: 5%;
    left: 80%;
    filter: blur(2px);

    animation-name: pic-shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 
}

@keyframes pic-shake{
    0%{
        top:-7%;
    }
    50%{
        top:-10%;
        transform: rotate(70deg);
    }
    100%{
        top: -7%;
    }
}